body {
    background-color: black;
    font-family: Ubuntu, Arial;
    margin: 0em;
    min-height: 100%;
    padding: 100px;
}

br {
    margin-bottom: 35px;
}

h1, h2, h3, p, a, label {
    color: #dddddd;
    font-weight: 400;
    margin: 15px;
    text-align: center;
}

h1 {
    font-size: 150px;
}

h2 {
    font-size: 120px;
}

h3 {
    font-size: 90px;
}

p, label {
    font-size: 60px;
    margin: 10px;
}

a, .click {
    font-size: 70px;
    text-decoration: underline;
}

select {
    background-color: black;
    border: 5px solid #dddddd;
    border-radius: 20px;
    color: #dddddd;
    font-family: Ubuntu, Arial;
    font-size: 50px;
    margin: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.small {
    font-size: 40px;
}

.click {
    margin-left: 60px;
    margin-right: 60px;
}

.row {
    display: flex;
    gap: 40px;
    justify-content: center;
}
